<!-- views/partials/footer.ejs -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <a target="_blank" href="https://www.mongodb.com/" class="footer-icons"><img src="images/mongodb-icon.png" id="mongodbIcon" alt="Logo de mongo-DB"></a>
    </div>
    <div class="col-md-1">
      <a target="_blank" href="https://nodejs.org/en/" class="footer-icons"><img src="images/node-js64.png" id="node-js64" alt="Logo de node-js"></a>
    </div>
    <div class="col-md-1 col-md-offset-8">
      <a target="_blank" href="https://github.com/giffunis" class="footer-icons"><i class="fa fa-github fa-3x"></i></a>
    </div>
    <div class="col-md-1">
      <a target="_blank" href="https://plus.google.com/u/0/104449282398628447943/posts" class="footer-icons"><i class="fa fa-google-plus fa-3x"></i></a>
    </div>
  </div>

</div>
