<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="ens">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <div id="page-wrap">

    <header class="main" id="h1">
      <% include ../partials/header %>
    </header>

    <nav class="navbar navbar-inverse">
      <% include ../partials/nav %>
    </nav>

    <section class="main" id="s1">
    </section>

    <footer class="nav" id="f1">
        <% include ../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap"-->

</body>
</html>
