<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="ens">
<head>
  <% include ../partials/head %>
  <link rel='stylesheet' type='text/css' href='/stylesheets/index.css' />
</head>
<body class="container">

  <div id="page-wrap">

    <header class="page-header" id="header1">
      <% include ../partials/header %>
    </header>

    <nav class="navbar navbar-inverse">
      <% include ../partials/nav %>
    </nav>

    <section class="main container-fluid" id="s1">
      <div class="row">
        <h1>Usuarios registrado</h1>
      </div>

      <div class="row">
          <ul>
            <li> <strong>Nombre de usuario:</strong> <%= usuario.username %> </li>
            <li> <strong>Contraseña:</strong> <%= usuario.password %></li>
            <li> <strong>Correo:</strong> <%= usuario.email %></li>
          </ul>
      </div>

    </section>

    <footer class="nav" id="f1">
        <% include ../partials/footer %>
    </footer>

  </div> <!-- id="page-wrap"-->

</body>
</html>
